@import url("bootstrap.min.css");

nav{

}
body{
	padding-bottom: 40px;
}
#allproj{
	display: none;
}
.navbar-default .navbar-brand {

}

.navbar-default .navbar-nav>li>a {

}
#myname{
	background-color:rgba(128, 128, 128, 0.3)
}
.username{
	color: maroon;
}
.jumbotron{

	color: white;
padding-bottom: 26px;
}
#photo-jumbo{
	background: url('../../assets/images/florence1.jpg') ;
}
.jumbotron{
	background: url('../../assets/images/golden-gate-copy.jpg');
	background-repeat: no-repeat;
	height: 400px;
	padding-top: 113px;
}
#projbutton{
	margin-top: 30px;
}
.bloglink{
	margin-top: 30px;
}
.myactive{
	background-color: rgb(160, 217, 224);
}
#florpic{
	left: 23%;
}
#carousel-container{

}
.headerIndex{
	margin-bottom: 37px;
}

.aboutme{
	font-family: "skolar", Georgia, serif;
	background-color:rgba(111, 111, 111, 0.62);
	margin-bottom: 30px;
}
.abouthead{
	color: rgb(182, 105, 69);
}